* {
    padding: 0;
    margin: 0;
}

aside {
    justify-content: left;
    text-align: center;
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 260px;
    background-color: lime;
    border: 10px black;
}

.botonverde {
    background-color: green;
    color: white;
    border-radius: 5px;
}

img
{
    height: 200px;
}
footer
{
    background-color: red;
    display: flex;
    justify-content: right;
}
.bordes
{
    border: 1px, black;
}

.leyenda
{
    background-color: blueviolet;
    border: 100px black;
}
nav
{
    display: flex;
    text-align: space-around;
    flex: space-around;
    justify-content: space-around;
    background-color: cyan;
}
main
{
    display: flex;
    justify-content: left;
    background-color: brown;
    height: 100vh;
}


header
{
    background-color: brown;
}
span
{
    visibility: hidden;
    border-radius: 98% 2% 100% 0% / 0% 74% 26% 100% ;
    background: rgb(130,0,255);
    background: linear-gradient(117deg, rgba(130,0,255,1) 23%, rgba(249,0,168,1) 45%, rgba(86,105,238,1) 68%); 
}
:hover + span
{
    visibility: visible;
}